.userContainer.logout
  = render 'sells/header'
  .userContainer__userMain
    %h2.userContainer__userMain__title ログアウト
    .userMain.logout
      .userMain__actions--Btn
        = link_to destroy_user_session_path, method: :delete do
          ログアウトする
  = render 'sells/footer'