* {
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica Neue", "Droid Sans", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "Meiryo", "メイリオ", "Osaka", "MS PGothic", arial, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
html,body{
  height: 100%;
}