.header {
  padding: 0 60px;
  background-color: $white;
  &__headerInner {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 10px 0;
    &__mainHeader {
      position: relative;
      @include flexbox();
      align-items: center;
      &__icon {
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
        & a {
          width: 140px;
          display: block;
          & img {
            width: 100%;
            vertical-align: bottom;
          }
        }
      }
      &__searchBox {
        margin-left: auto;
        width: 100%;
        & form {
          width: 100%;
          @include flexbox();
          margin-bottom: 5px;
        }
        &--input {
          width: calc(100% - 26px);
          height: 36px;
          padding-left: 5px;
          line-height: 36px;
        }
        &__submit {
          width: 36px;
          border: 0;
          cursor: pointer;
          background-color: #3ccace;
          padding: 8px;

          & img {
            width: 100%;
            vertical-align: bottom;
            border: 0;
          }
        }
      }
    }
    &__nav {
      font-size: 14px;
      @include flexbox();
      & ul {
        list-style: none;
      }
      & a {
        color: $lightBlack;
        text-decoration: none;
        &:hover {
          color:$lightOrange;
        }
      }
      &__listsLeft {
        position: relative;
        @include flexbox();
        & a {
          padding-right: 30px;
        }
        &__item {
          line-height: 32px;

          &--brand {
            padding-left: 16px;
          }
        }
      }
      &__listsRight {
        margin-left: auto;
        @include flexbox();
        &__item {
          line-height: 32px;
          padding-left: 16px;
        }
      }
    }
  }
}