.swiper-slide {
  width: 80%;
  max-height: 500px;
  min-height: 250px;
 }
 
 .swiper-slide img {
  width: 100%;
  min-height: 250px;
  object-fit: cover;
  height: 500px;
 }

 .keyword__contents-list {
   margin: 20px;
   height: 20px;
   width: 100%;
   display: flex;
   font-size: 13px;
   li {
     margin-left: 10px;
     font-weight: bold;
   }
 }